{% extends "master.twig" %}

{% block contenido %}
    <section id="banner">
        <div class="row collapse">
            <div class="small-12 columns">
                <ul class="banner">
                    <li>
                        <img src="{{ asset('img/banner/banner01.jpg') }}" />
                        <div class="contenido">
                            <p>
                            <big>Adopta un cachorrito</big><br />
                            <span>Necesita de tu cuidado</span>
                            </p>
                        </div>
                    </li>
                    <li>
                        <img src="{{ asset('img/banner/banner02.jpg') }}" />
                        <div class="contenido">
                            <p>
                            <big>Adopta un animalito</big><br />
                            <span>Necesita de tu cari&ntilde;o</span>
                            </p>
                        </div>
                    </li>
                    <li>
                        <img src="{{ asset('img/banner/banner03.jpg') }}" />
                        <div class="contenido">
                            <p>
                            <big>Adopta un perrito</big><br />
                            <span>Necesita de tu amor</span>
                            </p>
                        </div>
                    </li>
                    <li>
                        <img src="{{ asset('img/banner/banner04.jpg') }}" />
                        <div class="contenido">
                            <p>
                            <big>Adopta un gatito</big><br />
                            <span>Necesita un hogar</span>
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section id="info_home">
        <div class="row">
            <div class="small-12 columns text-center">
                <h1>Antes de comprar un animalito, piensa en si puedes adoptarlo</h1>
            </div>
            <div class="medium-4 columns text-center">
                <img src="{{ asset('img/home/item01.jpg') }}" class="redondo" alt="Adopta" />
                <p><big><strong>Adopta</strong></big></p>
                <p>Hay muchos gatitos y perritos que esperan que t&uacute; les des un hogar</p>
            </div>
            <div class="medium-4 columns text-center">
                <img src="{{ asset('img/home/item02.jpg') }}" class="redondo" alt="Cuida" />
                <p><big><strong>Cuida</strong></big></p>
                <p>Un animalito necesita que lo cuides y le des su cari&ntilde;o</p>
            </div>
            <div class="medium-4 columns text-center">
                <img src="{{ asset('img/home/item03.jpg') }}" class="redondo" alt="Ama" />
                <p><big><strong>Ama</strong></big></p>
                <p>Ellos necesitan sentirse amados para ser felices</p>
            </div>
        </div>
    </section>

    <section id="razones_adopta">
        <div class="row">
            <div class="small-12 columns text-center">
                <h1>&iquest;Por qu&eacute; adoptar?</h1>
            </div>
            <div class="medium-8 columns">
                <ul>
                    <li>Adoptar un animal que ha pasado por situaciones dif&iacute;ciles y crueles es un gran acto de humanidad</li>
                    <li>Rescatar&aacute;s a un amigo que te lo agradecer&aacute; toda la vida</li>
                    <li>Ayudar&aacute;s a disminuir el comercio de animales</li>
                    <li>Reduces los problemas de basuras causados por animalitos hambrientos que buscan alimento</li>
                    <li>Con menos animalitos en la calle, todos estaremos m&aacute;s seguros</li>
                    <li>Te reportar&aacute; una satisfacci&oacute;n inimaginable</li>
                </ul>
            </div>
            <div class="medium-4 columns">
                <img src="{{ asset('img/home/casita_perro.jpg') }}" alt="Adopta" />
            </div>
        </div>
    </section>
    <section id="decision">
        <div class="row">
            <div class="small-12 columns text-center">
                <h1>&iquest;Qu&eacute; debes tener cuenta antes de adoptar?</h1>
            </div>
            <div class="medium-4 columns">
                <img src="{{ asset('img/home/responsabilidad.jpg') }}" alt="Adopta" />
            </div>
            <div class="medium-8 columns">
                <ul>
                    <li>Examina tus razones por las que quieres un animal de compañía</li>
                    <li>Evalúa si tienes el tiempo suficiente para dedicarle a una mascota</li>
                    <li>Evalúa si puedes sostener enconómicamente a una mascota</li>
                    <li>¿Podrás ser un dueño responsable</li>
                </ul>
            </div>
        </div>
    </section>
{% endblock %}