<div class="row">
    <div class="small-12 medium-10 columns small-centered">
        <div class="row collapse menu_cat">
            <div class="small-6 medium-2 medium-offset-1 columns"><a href="{{ url('linea/educativa') }}" {% if activo == 1 %}class="activo"{% endif %}>Educaci&oacute;n</a></div>
            <div class="small-6 medium-2 columns"><a href="{{ url('linea/salud') }}" {% if activo == 2 %}class="activo"{% endif %}>Salud y belleza</a></div>
            <div class="small-6 medium-2 columns"><a href="{{ url('linea/variedad') }}" {% if activo == 3 %}class="activo"{% endif %}>Variedades</a></div>
            <div class="small-6 medium-2 columns"><a href="{{ url('linea/cocina') }}" {% if activo == 4 %}class="activo"{% endif %}>Cocina</a></div>
            <div class="small-6 medium-2 columns end"><a href="{{ url('linea/literatura') }}" {% if activo == 5 %}class="activo"{% endif %}>Literatura</a></div>            
        </div>
    </div>
</div>
