<form name="formPago" id="formPago" method="post" action="{{ gateway }}">
<input type="hidden" name="enviarPago" id="enviarPago" value="Y" />
<input type="hidden" name="usuarioId" id="usuarioId" value="{{ usuario }}" />
<input type="hidden" name="refVenta" id="refVenta" value="{{ prefijo }}{{ numPedido }}" />
<input type="hidden" name="descripcion" id="descripcion" value="{{ descripcion }}" />
<input type="hidden" name="valor" id="valor" value="{{ valorPedido }}" />
<input type="hidden" name="iva" id="iva" value="{{ valorIva }}" />
<input type="hidden" name="baseDevolucionIva" id="baseDevolucionIva" value="{{ valorSinIva }}" />
<input type="hidden" name="firma" id="firma" value="{{ firma }}" />
<input type="hidden" name="prueba" id="prueba" value="{{ prueba }}" />
<input type="hidden" name="url_respuesta" id="url_respuesta" value="{{ url }}index.php?option={{ componente }}&helper=carrito&task=respuestaPago" />
<input type="hidden" name="url_confirmacion" id="url_confirmacion" value="{{ url }}index.php?option={{ componente }}&helper=carrito&task=confirmacionPago" />
<input type="submit" value="Realizar pago" />
</form>