<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
    <head>
        <title>Patitas de coraz&oacute;n</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="Cache-Control" content="no-cache">
        <meta http-equiv="Expires" content="-1">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

        {% for js in js_doc %}
            <script src="{{ asset(js) }}"></script>
        {% endfor %}
        <script src="{{ asset('js/jquery-1.11.3.min.js') }}"></script>
        <script src="{{ asset('foundation/js/foundation.min.js') }}"></script>
        <script src="{{ asset('js/lightslider/js/lightslider.min.js') }}"></script>
        <script src="{{ asset('js/featherlight/featherlight.min.js') }}"></script>
        <script src="{{ asset('js/featherlight/featherlight.gallery.min.js') }}"></script>
        <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
        <script src="{{ asset('js/script.js') }}"></script>
    {% block js_header %}{% endblock %}

    {% for css in css_doc %}
        <link href="{{ asset(css) }}" rel="stylesheet" type="text/css" />
    {% endfor %}
    <link href="{{ asset('foundation/css/foundation.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('foundation/fonts/foundation-icons.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('js/lightslider/css/lightslider.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('js/featherlight/featherlight.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('js/featherlight/featherlight.gallery.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('css/estilos.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('favicon.ico') }}" rel="shortcut icon" type="text/css" />
{% block css_header %}{% endblock %}
</head>
<body>
    <div class="row expanded collapse">
        <div class="medium-3 large-2 columns menu">
            <nav>
                <div class="logo text-center">
                    <img src="{{ asset('img/logo.png') }}" alt="Patitas de Coraz&oacute;n" />
                    <div>Patitas de Coraz&oacute;n</div>
                </div>
                <div class="resp" id="menu_resp">
                    <a>Menu</a>
                </div>
                <ul id="nav_menu">
                    <li {% if activo == 'inicio' %} class="activo" {% endif %}><a href="{{ url('') }}">Inicio</a></li>
                    <li {% if activo == 'mision' %} class="activo" {% endif %}><a href="{{ url('mision') }}">Misi&oacute;n</a></li>
                    <li {% if activo == 'vision' %} class="activo" {% endif %}><a href="{{ url('vision') }}">Visi&oacute;n</a></li>
                    <li {% if activo == 'nosotros' %} class="activo" {% endif %}><a href="{{ url('nosotros') }}">Sobre Nosotros</a></li>
                    <li {% if activo == 'adopta_gato' %} class="activo" {% endif %}><a href="{{ url('adopta/gato') }}">Adopta un gato</a></li>
                    <li {% if activo == 'adopta_perro' %} class="activo" {% endif %}><a href="{{ url('adopta/perro') }}">Adopta un perro</a></li>
                    <li {% if activo == 'contacto' %} class="activo" {% endif %}><a href="{{ url('contacto') }}">Contacto</a></li>
                </ul>
            </nav>
        </div>
        <div class="medium-9 large-10 columns">
            <header>
                <div class="row">
                    <div class="medium-6 large-7 columns">
                        <h1 class="titulo">
                            Patitas de Coraz&oacute;n
                        </h1>
                    </div>
                    <div class="medium-6 large-5 columns info">
                        <div class="row">
                            <div class="medium-3 columns"><i class="fi-telephone"></i> <small>111-222333</small></div>
                            <div class="medium-5 columns"><i class="fi-marker"></i> <small>Av. Siempre Viva 123</small></div>
                            <div class="medium-4 columns"><i class="fi-mail"></i> <small>info@patitas.com</small></div>
                        </div>
                    </div>
                </div>
            </header>
            <main>
                {% block contenido %}
                {% endblock %}
            </main>
            <footer>
                <div class="row">
                    <div class="medium-10 medium-centered">
                        <div class="row">
                            <div class="medium-4 columns">
                                <ul>
                                    <li><a href="{{ url('mision') }}">Misi&oacute;n</a></li>
                                    <li><a href="{{ url('vision') }}">Visi&oacute;n</a></li>
                                    <li><a href="{{ url('nosotros') }}">Sobre Nosotros</a></li>
                                    <li><a href="{{ url('adopta') }}">Adopta</a></li>
                                    <li><a href="{{ url('contacto') }}">Contacto</a></li>
                                </ul>
                            </div>
                            <div class="medium-4 columns">
                                <ul>
                                    <li><i class="fi-telephone"></i> 111-222333</li>
                                    <li><i class="fi-marker"></i> Av. Siempre Viva 123</li>
                                    <li><i class="fi-mail"></i> info@patitas.com</li>
                                </ul>
                            </div>
                            <div class="medium-4 columns">
                                <ul>
                                    <li>H&eacute;ctor Fabi&aacute;n Morales Ram&iacute;rez</li>
                                    <li>Dise&ntilde;o de sitios web 301122A_288</li>
                                    <li>Grupo 301122_47</li>
                                    <li>UNAD</li>
                                </ul>
                            </div>
                            <div class="small-12 columns text-center">
                                <a href="http://facebook.com" class="social facebook" target="_blank"><i class="fi-social-facebook"></i></a>
                                <a href="http://twitter.com" class="social twitter" target="_blank"><i class="fi-social-twitter"></i></a>
                                <a href="http://instagram.com" class="social instagram" target="_blank"><i class="fi-social-instagram"></i></a>
                                <a href="http://plus.google.com" class="social gplus" target="_blank"><i class="fi-social-google-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</body>
</html>